.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--gray-400);
  border-radius: 0.25rem;
  color: rgba($color: white, $alpha: 0.75);
  height: 3rem;
}

a.button {
  text-decoration: none;
}

.button {
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.25rem;
    background-color: transparent;
    transition: background-color 0.2s ease-out;
  }

  &:hover::after {
    background-color: rgba($color: white, $alpha: 0.05);
  }
}

.primary {
  background-color: var(--blue-600);

  &:hover::after {
    background-color: rgba($color: white, $alpha: 0.15);
  }
}

.ghost {
  background-color: transparent;
  color: white;
}

.bold {
  font-weight: 700;
  color: white;
}
