.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--gray-400);
  border-radius: 0.25rem;
  color: rgba($color: white, $alpha: 0.75);
  height: 3rem;
}

.button:hover {
  background-color: var(--gray-500);
}

.primary {
  background-color: var(--primary);
}

.ghost {
  background-color: transparent;
  color: white;
}
