.link {
  text-decoration: none;
  color: unset;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #23252b;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: background-color 0.2s ease-out;

  .text {
    padding: 2rem;
    transform: translateY(0);
    transition: transform 0.2s ease-out;

    .title {
      margin: 0;
    }

    .rarity {
      color: var(--text-muted);
      font-size: 0.9em;
      text-transform: capitalize;
    }
  }


  .price {
    padding: 2rem;
    padding-top: 0;

    .discountDisplay {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .left {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }

      .new {
        color: var(--green-500);
        font-size: 1.5em;
        font-weight: 700;
      }
  
      .old {
        color: var(--text-muted);
        text-decoration: line-through;
      }
  
      .discount {
        background-color: var(--green-500);
        color: #23252b;
        border-radius: 0.25rem;
        padding-inline: 0.25rem;
        padding-block: 0.125rem;
        font-weight: 700;
        font-size: 0.9em;
      }
    }
  }

  &:hover {
    background-color: #313339;

    .text {
      transform: translateY(-0.5rem);
    }
  }
}