.discountDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  .left {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    .new {
      color: var(--green-500);
      font-size: 1.5em;
      font-weight: 700;
    }
  
    .old {
      color: var(--text-muted);
      text-decoration: line-through;
    }
  }

  .discount {
    background-color: var(--green-500);
    color: #23252b;
    border-radius: 0.25rem;
    padding-inline: 0.25rem;
    padding-block: 0.125rem;
    font-weight: 700;
    font-size: 0.9em;
  }
}

.normalDisplay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  .price {
    font-size: 1.5em;
    font-weight: 700;
  }
}
