@use "@/styles/breakpoint.global.scss" as breakpoint;

.section {
  margin-top: 4rem;
  padding-block: 4rem;
  border-top: 1px solid var(--gray-300);

  h2 {
    margin-block: 0;
    font-size: 2rem;
  }

  @include breakpoint.from(1440px) {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 4rem;
  }
}

.columns {
  column-gap: 2em;

  & > * {
    break-inside: avoid;
  }
}